[submodule "bump"]
	path = bump
	url = git@github.com:kikito/bump.lua.git
[submodule "LoveFrames"]
	path = LoveFrames
	url = git@github.com:linux-man/LoveFrames.git
[submodule "hump"]
	path = hump
	url = git@github.com:vrld/hump.git
